
<h1>hello maneger</h1>
<button routerLink="gifts" routerLinkActive="active-link"  pButton pRipple label="going to the Gifts List" icon="pi p-confirmDialog" class="p-button-help"></button>
<button routerLink="donors" routerLinkActive="active-link" pButton pRipple label="going to the Donors List" icon="pi p-confirmDialog" class="p-button-help"></button>
<button routerLink="users" routerLinkActive="active-link" pButton pRipple label="going to the Users List" icon="pi p-confirmDialog" class="p-button-help"></button>
<router-outlet></router-outlet>
