<p-toolbar class="my-toolbar" styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-chart-pie" class="p-button-danger"
            (click)="deleteSelectedusers()" [disabled]="!selectedusers || !selectedusers.length"></button>
    </ng-template>
    <ng-template pTemplate="center">
        <h1>Chinese Action</h1> 
    </ng-template>
   
</p-toolbar>

<div class="my-css">
    <p-table #dt [value]="users" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description','donor','price','image']" [(selection)]="selectedusers"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage users</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="password">Password <p-sortIcon field="password"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="creditCard">Credit Card <p-sortIcon field="creditCard"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.password}}</td>
                <td>{{user.email}}</td>
                <td>{{user.creditCard}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{users ? users.length : 0 }} users.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="user Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="user.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !user.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="user.description" required rows="3"
                cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="donor">Donor</label>
            <p-dropdown [(ngModel)]="user.donor" inputId="donor" [options]="donors"
                placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="user.price" mode="currency" currency="ILS"
                    locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="img">Image</label>
                <p-fileUpload id="img" [(ngModel)]="user.image" [customUpload]="true"
                    (uploadHandler)="onUpload($event)"></p-fileUpload>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveuser()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>